@font-face
    font-family: "inter--medium"
    src: url("../fonts/inter/inter--medium.ttf")

@font-face
    font-family: "inter--bold"
    src: url("../fonts/inter/inter--bold.ttf")

@import "./fluid-type.scss"

$min_width: 320px
$max_width: 1200px
$min_font: 16px
$max_font: 24px

html
  @include fluid-type($min_width, $max_width, $min_font, $max_font)


body
    // width: 100vw
    // height: 100vh
    font-family: "inter--medium", sans-serif
    background-color: #309d9d
    position: relative
    main
        height: 100%
    main > #root
        height: 100%
        display: flex
        flex-direction: column
