@font-face
    font-family: "inter--medium"
    src: url("../fonts/inter/inter--medium.ttf")

@font-face
    font-family: "inter--bold"
    src: url("../fonts/inter/inter--bold.ttf")

body
    width: 100vw
    height: 100vh
    font-family: "inter--medium", sans-serif
    background-color: #309d9d
    position: relative
    main
        height: 100%
    main > #root
        height: 100%
        display: flex
        flex-direction: column
